// common sections to be used through out the sites

/* parallax background */
.parallax-bg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-container {
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* object fit for internet explorer */
.custom-object-fit {
  position: relative;
  background-size: cover;
  background-position: center center;
  .featured-image {
    opacity: 0;
  }
}



.banner {
  background-image: url("#{$img-path-url}/placeholder-image.jpg");
  background-size: cover;
  height: 45rem;
  position: relative;
  &:before {
    @include overlay;
  }

  .intro {
    @include centered;
    text-align: center;
    color: $white;

    p {
      font-size: 2rem;
    }
  }
}
