/* --------- Form Styling --------- */

input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-weight: 400;
    text-transform: capitalize;
    color: $black;
  }

  input::-moz-placeholder {
    /* Firefox 19+ */
    font-weight: 400;
    text-transform: capitalize;
    color: $black;
  }

  input:-ms-input-placeholder {
    /* IE 10+ */
    font-weight: 400;
    text-transform: capitalize;
    color: $black;
  }

  input:-moz-placeholder {
    /* Firefox 18- */
    font-weight: 400;
    text-transform: capitalize;
    color: $black;
  }
