// ------------------------------------------------
//                   Typography
// --------------------------------------------------

// external fonts files included

@font-face {
  font-family: "Cocogoose Classic Trial";
  src: url("#{$font-path-url}/CocogooseClassicTrial-Medium.woff2")
      format("woff2"),
    url("#{$font-path-url}/CocogooseClassicTrial-Medium.woff") format("woff"),
    url("#{$font-path-url}/CocogooseClassicTrial-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

// Body reset
html {
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $font-family-primary;
  font-size: inherit;
  font-weight: $font-weight-base;
  color: $text-color;
  line-height: $line-height-base;
  background-color: $body-bg;
}

//Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;

  a {
    color: inherit;
    text-decoration: none;
    font-weight: inherit;
  }
}

h1,
.h1 {
  font-size: $font-size-h1;
}
h2,
.h2 {
  font-size: $font-size-h2;
}
h3,
.h3 {
  font-size: $font-size-h3;
}
h4,
.h4 {
  font-size: $font-size-h4;
}
h5,
.h5 {
  font-size: $font-size-h5;
}
h6,
.h6 {
  font-size: $font-size-h6;
}

// Links
a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

button,
.btn {
  font-family: $font-family-primary;
  border: 1px solid $btn-theme-border;
  background-color: $primary-color;
  font-size: $button-font-size;
  padding: $button-base-horizontal $button-base-vertical;
  border-radius: $btn-border-radius-base;
}

// Figures

// Reset this here because previously Normalize had no `figure` margins.
figure {
  margin: 0;
}
